h1{
    color: brown;
    text-align: center;
    height : 50px;
    width : 500px;
    margin : 0 auto;
    
}

#head2{
    font-size: 30px;
    height : 50 px;
    width : 900px;
    margin : 10px
}

